<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <error-page>
    <error-code>400</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>needLogin</param-name>
    <param-value>/mySpace,/mySpace.jsp,/business,/business.jsp,/borrow.jsp,/borrowInfo,/borrow,/manager/insert.jsp,/manager/insert,/manager/managerIndex.jsp,/manager/addContent.jsp,/manager/manaQuery.jsp,/manaQuery,/addContent,/userMana,/manager/busiMana.jsp,/comment</param-value>
  </context-param>
  <context-param>
    <param-name>redirectUrl</param-name>
    <param-value>/login.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>localhost</param-name>
    <param-value>http://localhost/lib/</param-value>
  </context-param>
  <context-param>
    <param-name>needAuthority</param-name>
    <param-value>/manager/managerIndex.jsp,/manager/insert.jsp,/manager/insert,/manager/addContent.jsp,/manager/manaQuery.jsp,/manaQuery,/addContent,/userMana,/manager/busiMana.jsp</param-value>
  </context-param>
  <filter>
    <filter-name>no-cache</filter-name>
    <filter-class>liuxiaoran.filterPackage.NoCacheFilter</filter-class>
  </filter>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>liuxiaoran.filterPackage.EncodingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>loginCheck</filter-name>
    <filter-class>liuxiaoran.filterPackage.LoginCheckFilter</filter-class>
  </filter>
  <filter>
    <filter-name>authorityCheck</filter-name>
    <filter-class>liuxiaoran.filterPackage.AuthorityFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ConnWrong</filter-name>
    <filter-class>liuxiaoran.filterPackage.ConnWrongFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>no-cache</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginCheck</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>authorityCheck</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ConnWrong</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
</web-app>