*{ margin:0; padding:0; font-family: Helvetica, Tahoma, Arial,"Microsoft YaHei", "å¾®è½¯é›…é»‘", sans-serif}
ol,ul,li{ list-style:none;}
img{ border:none;border-radius:1px;}
html{height:101%; }
.nl {color:#0071bc; }
.nl:hover {text-decoration:underline;color:#0071bc;}
.protocol {margin-top:20px; color:#666}
.protocol input {margin-right:5px}
a{ text-decoration:none; color:#333;}
a:hover{ color:#fd9517;text-decoration:none;}
.clear{ width:0; height:0; line-height:0; font-size:0; margin:0; padding:0; clear:both;}
body{ background:#EAEAEA; font-size:12px;}
.floatl{ float:left; display:inline;}
.floatr{ float:right; display:inline;}
.marg{ margin:20px;}
.mar_bot{ margin-bottom:20px;}
.width_880{ width:880px;}
.width_240{ width:240px;}
.pr{ position: relative;}
.hide{ display:none;}
/*é˜´å½±æ ·å¼*/
.box_shadow{-webkit-box-shadow:0 0 2px #e2e2e2;-moz-box-shadow:0 0 2px #e2e2e2;box-shadow:0 0 2px #e2e2e2; border-bottom:2px solid #C9C9C9; background:#FFF; border-radius:1px; }
.header{ width:100%; height:100px; margin-bottom: 20px;}
.heder_con{ padding-top:0px;line-height: 100px;height:100px;}
.heder_con a{ font-size: 35px; font-weight:bold;color: #000;}
.heder_con span{ float: right; font-size: 14px; color: #000;-webkit-text-shadow: 0 1px 1px #fff;-moz-text-shadow: 0 1px 1px #fff;text-shadow: 0 1px 1px #fff;}
.page{ width:1140px; margin:0 auto;}

/*å¯¼èˆª*/
.nav{ height:54px; background:#FFF;position:relative; margin-top:-27px; z-index:99; margin-bottom:20px;}
.nav_list li{ width:132px; height:54px; float:left; display:inline; border-radius:1px; }
.nav_list li a{ display:block; width:132px; height:54px; line-height:54px; text-align:center; color:#808080; font-size:14px; border-radius:1px; }
.nav_list li a:hover{background:#f2f2f2;}
.nav_list .select a{ background:#FD9517; color:#FFF;}
.nav_list .select a:hover{ background:#FD9517; color:#FFF;}

/*æœç´¢*/
.search_list{ height:22px; position:relative; margin-top:16px;}
.search_list dt{ height:22px; border-left:1px solid #e6e6e6; width:200px; overflow:hidden;}
.search_list dt input{ border:0; height:22px; width:180px; color:#BFBFBF;outline:none; padding-left:20px; font-size:14px; display:block; line-height:22px;}
.search_list dd{ width:22px; height:18px; text-align:center; padding-top:4px;}
.search_list dd a{display:block;width:22px;height:18px;background:url(../images/icon/search.png) no-repeat center center;}
.search_list dd a:hover{background:url(../images/icon/search-DARK.png) no-repeat center center;}

/*æ¼«ç”»åˆ—è¡¨*/
.manga_con{ background:#FFF; height:641px; overflow:hidden;}
.common_tit_dl dt{ background:url(../images/common_tit_bg.jpg) no-repeat left center; height:60px; line-height:60px; font-size:14px; color:#333333; margin-left:20px; padding-left:10px;}
.common_tit_dl dd{ height:60px; line-height:60px; padding-right:20px; position:relative; z-index:9999;}
.common_tit_dl .close_reg{ display: none;}
.common_tit_dl .close_reg a:hover{background: none;}
.common_tit_dl dd a{color:#7f7f7f;display: block;width:40px;height:24px;line-height:24px;text-align: center;p;position:absolute;te; */%margin-top:-12px;right:19px;border-radius:1px;}
.common_tit_dl dd a:hover{color:#7f7f7f;background: #f2f2f2;}
.common_tit_dl .fava_dd input{outline:none;display:block;position: absolute;top:15px; right:20px;width:88px;cursor:pointer;text-align:left; height:34px;line-height:34px;background:#fff;border:1px solid #fd9517; color:#fd9517; border-radius:1px;text-align:center;}
.common_tit_dl .fava_dd .faved{background:#fd9517; color:#fff;}
.close_reg img{display: block;width: 14px;height: 14px;position: absolute;top:50%; margin-top:-7px;right:0;}
.cen_choice{ position:absolute; width:100%; height:24px; left:0; top:50%;margin-top:-12px;text-align:center;}
.cen_choice li{display:inline;height:24px; line-height:24px; color:#999999; cursor:pointer;}
.cen_choice li a{display:inline-block;height:24px; line-height:24px; padding:0 10px;border-radius:1px;color:#999999;}
.cen_choice li a:hover{color:#7f7f7f;background: #f2f2f2;}
.cen_choice .select a{ color:#fd9517;}
.cen_choice .select a:hover{background:none;color:#fd9517;}
.manga_list li{ width:112px;float:left; display:inline; margin-right:34px; height:290px; overflow:hidden;}
.manga_img{position: relative;border-radius:1px;overflow:hidden;}
.manga_img a{display:block;position: absolute; width:110px; height:166px; background:none;z-index:9999;border:1px solid rgba(0,0,0,0.05);border-radius:1px;}
.manga_img .cover_sp{display:block;position: absolute; width:112px; height:168px; background:#FFF;z-index:999;border-radius:1px;filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity: 0;}
.manga_list li img{ width:112px;border-radius:1px; height:168px;}
.manga_img a:hover {filter: alpha(opacity=5);-moz-opacity: 0.05;-khtml-opacity: 0.05;opacity: 0.05;background: #000;border:1px solid rgb(0,0,0,1);border-radius:1px;z-index:9999; }
.manga_text{ height:112px; position:relative;}
.first_tit{ display:block; height:37px; line-height:18px; font-size:14px; color:#333333; padding-top:6px; overflow:hidden;}
.first_tit span{color:#ec136f;}
.second_tit{ display:block; height:18px; line-height:18px; overflow:hidden;}
.second_tit a{ color:#7F7F7F;}
.manga_list li:nth-child(6n-5){ margin-left:19px;}
.manga_list li:nth-child(6n){ margin-right:19px;}
.tit_60{ width:100%; height:60px; position:relative;z-index:99999;}

/*åˆ†é¡µ*/
.paging{ height:72px; line-height:72px; text-align:center;}
.paging ul li{ display:inline; margin:0 5px;width:30px; overflow:hidden;}
.paging ul li a{width:28px; height:26px; border:1px solid #dcdcdc; line-height:26px; color:#727272; padding:0;border-radius:1px;}
.paging ul .pageinfo font,.paging ul .page_normal font{width:28px; height:26px;display:inline-block;line-height:26px;color:#fff; background:#fd9517;border:1px solid #fd9517;padding:0;border-radius:1px;}
.paging ul li a:hover{background:#f2f2f2;}

.paging span{ color:#dcdcdc;}
.paging a{ display:inline-block; color:#7f7f7f;}
.paging .select_num{ color:#fd9517;}
.paging .next{ background:url(../images/next.jpg) no-repeat center center; width:24px; height:20px; padding:0; line-height:0; position:relative; top:5px;}

/*å‹æƒ…é“¾æŽ¥*/
.friend_links{ height:88px; background:#FFF; padding-top:10px;}
.friend_tit{ height:30px; line-height:30px; color:#666666; font-size:14px; padding-left:20px;}
.friend_con{ padding:0 7px;}
.friend_list li{ float:left; display:inline; width:78px; height:32px; margin:0 13px;}
.friend_list li img{ width:78px; height:32px;}

/*æ³¨å†Œæ¨¡å—*/
.close_reg a{ position:absolute; display:block; width:14px; height:14px; top:50%; margin-top:-7px; right:20px;}
.user_bg{filter: alpha(opacity=50); -moz-opacity: 0.5; -khtml-opacity: 0.5;opacity: 0.5;background: #000; width: 100%;height: 100%; position: absolute;left: 0px;top: 0;z-index: 99999;}
.register_model{ width:400px; position:fixed; left:50%; margin-left:-200px; z-index:999999; top:172px; }
.reg_cen{padding:0 30px;position: relative;}
.reg_con{height:38px; line-height:38px;text-align:right;padding-bottom:10px;}
.reg_con a{color:#999;font-size:14px;}
.reg_inp_list{ width:340px; margin:0 auto;}
.reg_inp_list li{ position:relative;border:1px solid #e5e5e5;height:38px;width:338px;overflow: hidden; margin-bottom:20px;}
.user_tex,.vcode_tex{display: block;position: absolute;height:38px;color:#999999;line-height:38px;top:0;left:10px;}
.reg_inp_list li input{display:block;border:0;font-size:12px;padding:9px 0;height:20px;  color:#999999;outline: none;  padding-left:10px;}
.reg_inp_list li .u_inp{width:326px;}
.u_inp{position: absolute;top:0; left:0;background: none;z-index: 9999;}
.user_r_top span{color:#dd052a;}
.rclose{display:none;position:absolute;right:10px;top:50%;margin-top:-4px; cursor: pointer;z-index: 999999;}
.reg_dl_vcode dt{border:1px solid #e5e5e5;height:38px;width:158px;overflow: hidden; margin-right:20px;position: relative;}
.reg_dl_vcode dt input{display:block;border:0;font-size:12px;padding:9px 0;height:20px;  color:#999999;outline: none;  padding-left:10px; width:166px;}
.reg_dl_vcode dd,.reg_dl_vcode dd img{ height:40px; width:100px;}
.sub_userinfo{ height:40px; width:340px; margin:20px 0;margin-bottom:10px;}
.sub_userinfo input{ display:block; width:340px; height:40px; line-height:40px; text-align:center; font-size:14px; outline:none; color:#FFF; background:#fe960e; border:0; cursor: pointer;border-radius:1px;}
.sub_userinfo input.disabled {background:#ccc;}
.full_user{ padding-bottom:20px;}
.up_logo_con{ height:94px; text-align:center; position:relative;}
.up_logo_con img{ width:94px; height:94px;border-radius:47px;}
.myfile{ background:url(../images/uolode_logo.jpg) no-repeat; display:block;cursor:pointer; position:absolute; top:0; left:50%; margin-left:-47px; width:93px; height:93px; filter: Alpha(opacity=0);  -moz-opacity:0; opacity:0;   }
.upload_tex{ height:40px; line-height:40px; text-align:center; color:#999999; font-size:14px;}
.nick{ position:relative;border:1px solid #e5e5e5;height:38px;width:338px;overflow: hidden; margin-bottom:20px;}
.nick input{display:block;border:0;font-size:12px;padding:9px 0;height:20px;  color:#999999;outline: none;  padding-left:46px; width:280px;}
.nick span{display: block;position: absolute;height:38px;color:#999999;line-height:38px;top:0;left:10px;}
.full_btn dt{ width:120px; height:40px;}
.full_btn dt a{ display:block; width:118px; height:38px; border:1px solid #eaeaea; line-height:38px; text-align:center; font-size:14px; outline:none; color:#999999; background:#f2f2f2;  cursor: pointer;border-radius:1px;}
.full_btn dd input{ display:block; width:200px; height:40px; line-height:40px; text-align:center; font-size:14px; outline:none; color:#FFF; background:#fe960e; border:0; cursor: pointer;border-radius:1px;}
.give_up{padding:0 30px; z-index:999; background:#FFF; width:340px; display:none;}
.give_up p{ color:#999999; font-size:14px; height:200px; line-height:160px; padding-left:30px;}
.give_btn dt{ width:160px;display:block; height:38px; border:1px solid #eaeaea; line-height:38px; text-align:center; font-size:14px; outline:none; color:#999999; background:#f2f2f2;  cursor: pointer;margin-bottom:20px;border-radius:1px;}
.give_btn dd{ width:160px;display:block; height:40px; line-height:40px; text-align:center; font-size:14px; outline:none; color:#FFF; background:#fe960e;cursor: pointer;margin-bottom:20px;border-radius:1px;}

/*åº•éƒ¨*/
.footer{ padding-top:80px;padding-bottom:40px;}
.footer p{ height:30px; line-height:30px; text-align:center;}
.footer p a,.footer p span{ color:#9b9b9b;}
.footer p .shu_footer{ margin:0 5px;}
